body {
  font-family: 'Montserrat', sans-serif;
  background-color: #E4F1FE; }

a {
  text-decoration: none !important; }
  a :hover {
    text-decoration: none; }

#header {
  background-color: #59ABE3;
  height: 100px; }

#footer {
  background-color: #59ABE3;
  height: 100px; }

#logo {
  font-size: 40px;
  margin-top: 20px;
  cursor: pointer; }
  #logo a {
    color: #ECF0F1;
    text-decoration: none; }

#welcomeBanner {
  padding-top: 60px;
  width: 100%;
  height: 500px;
  background: url(../../assets/images/banner.jpg) no-repeat;
  background-size: 100% 100%;
  border: 0;
  border-bottom: 2px #fff solid;
  border-top: 2px #fff solid; }
  #welcomeBanner p {
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: rgba(65, 131, 215, 0.5); }
  #welcomeBanner .welcomeButton {
    margin-top: 20px; }

.welcomeButton {
  background-color: rgba(65, 131, 215, 0.5);
  border: 0;
  width: 150px;
  height: 35px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold; }

nav {
  background-color: #6BB9F0;
  height: 35px; }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 5px; }
    nav ul li {
      float: left;
      cursor: pointer; }
      nav ul li a {
        color: #ECF0F1;
        text-decoration: none;
        margin-right: 15px;
        font-size: 18px; }

#lessons {
  height: 500px;
  background-color: #E4F1FE; }

/*# sourceMappingURL=main.css.map */
