<div ng-controller="HeaderController">
    <div id="header">
        <div class="container">
            <div class="row">
                <div id="logo" class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-2 col-sm-2 col-xs-3">
                    <a ng-mousedown="goToRoute('/')">folla</a>
                </div>
                <div class="loginForm">

                </div>
            </div>
        </div>
    </div>
    <nav ng-hide="isWelcomePage">
        <div class="container">
            <div class="row">
                <div class="col-xs-offset-1">
                    <ul>
                        <li><a ng-mousedown="goToRoute('/')">Home</a></li>
                        <li><a ng-mousedown="goToRoute('/lessons')">Lessons</a></li>
                        <li><a href="">Help</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>