<div id="lessons">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-3">
                <label>I speak:</label>
                <select>
                    <option ng-repeat="language in spokenLanguages" value="english">{{language.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="lessonBox">

            </div>
        </div>
    </div>
</div>