<div>
    <div id="welcomeBanner">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8">
                    <p>Start learning any foreign language today. It's free, it's fun, it's simple!!!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-5 col-md-2 text-center">
                    <button class="welcomeButton">Join for free</button>
                </div>
                <div class="col-md-offset-5"></div>
                <div class="col-md-offset-5 col-md-2 text-center">
                    <button class="welcomeButton"  ng-mousedown="goToRoute('/lessons')">Try out now</button>
                </div>
            </div>
        </div>
    </div>
</div>